body {
	background: black;
}
.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}
.ryu {
	float: left;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}
.ryu-ready {
  	background-image: url('../images/ryu-ready-position.gif');
}
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  	background-repeat: no-repeat;
}
.ryu-still {
  	background-image: url('../images/ryu-standing-still.png');
}
.ryu-throwing {
 	background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
 	background-image: url('../images/ryu-cool.gif');
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: relative;
	top: 170px;
	left: -212px;
}
.instructions1, .instructions2 {
	position: absolute;
	font-size: 1.8em;
	width: 200px;
	line-height: 1.4em;
	font-family: Bangers, serif;
}
.instructions1{
	top: 200px;
	left: 600px;
}
.instructions2{
	top: 300px;
	left: 800px;
}